$hover: rgba(0, 0, 0, 0.7);
$primary_blue: #007eb1;

@mixin hr($color: lightgray, $height: 210px) {
  height: $height;
  width: 2px;
  margin: 0;
  background-color: $color;
  margin-left: -2px;
}

body, html {
  height: 100%;
}

/* Resets */
hr {
  margin-left: 0;
  //max-width: 40px;
}

$op_num: 0;
@while $op_num < 101 {

  .op-#{$op_num} {
    opacity: $op_num;
  }
  $op_num: $op_num + 25;
}

.wrapper-home {
  a {
    color: white;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: darken(white, 10%);
    }
    &.text-white {
      &:hover,
      &:active,
      &:focus {
        color: darken(white, 10%);
        transition: all ease .25s;
      }
    }
  }
}

.register-page {
  a {
    color: $primary_blue;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: darken($primary_blue, 15%);
    }
  }
}

.round-btn {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.bg-primary {
  background-color: $primary_blue !important;
}

/* Jumbotron (hero) */
.jumbotron {
  position: relative;


  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("img/beach-party.jpg") no-repeat bottom center /cover;
  }

  .container {
    padding: 75px 0;
  }

  h1,
  .lead {
    color: #fff;
  }
}

/* Custom button */
.btn-primary {
  background: $primary_blue;
  border: 0;

  &:hover {
    background: darken(#1096fc, 7%);
  }
}

/* Features */
.sec-features {

}

/* Testimonials */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;

  li {
    background: rgba(33, 33, 33, .1);

    &:focus,
    &:hover {
      background: rgba(33, 33, 33, .5);
    }
  }
  .active {
    background: rgba(33, 33, 33, .75);
  }
}

.carrusel-text-color-white {
  color: #efefef;
}

.carrusel-header {
  color: #ffffff !important;
}

.carousel-control-next,
.carousel-control-prev {
  & {
    color: #212121;
  }

  &:focus,
  &:hover {
    color: #111;
  }
}

/* Footer */
.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background: $primary_blue;
  li {
    &:nth-of-type(n+2) {
      margin-left: 8px;
    }
  }

  a {
    font-size: 18px;
    color: white;
    transition: color .235s ease-in-out;

    &:focus,
    &:hover {
      color: rgba(255, 255, 255, .25);
    }
  }
}

.navbar {
  transition: background-color 200ms linear;
  //height: 66px;
  & img {
    height: 50px;
  }
}

.bg-blue {

}

.search-hero {
  border-radius: 50px;
}

.hero {
  .jumbotron {
    height: 100vh;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    0 calc(100% - 8vw));
    input.search-hero {
      &:hover,
      &:active,
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
  & .scroll-down {
    bottom: 0;
    & .chev-down-anim {
      //animation: scroll-down-anim margin-top 200ms ease-in-out;
      left: 0;
      right: 0;
      animation: ani-mouse 2.5s linear infinite;
      -webkit-animation: ani-mouse 2.5s linear infinite;
      -moz-animation: ani-mouse 2.5s linear infinite;
    }
  }

}

.event-container {
  border: 3px solid white;
}

.event {
  height: 230px;
  background-color: gray;
  color: white;
  &:hover {
    background-color: $hover;
  }
  & .event-hover {
    //height: 230px;
    //max-height: 230px;
    //transform: translateY(-230px);
    opacity: 0;
    transition: all ease .5s;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      background-color: $hover;
    }
    & .event-hidden-hover {
      //background-color: rgba(0, 0, 0, 0.7);
      & .event-user-img {
        height: 60px;
        border: 1px solid white;
      }
      & .event-icons {
        & p {
          //margin-top:-5px;
        }
        & a {
          color: white;
          &:hover,
          &:active,
          &:focus {
            color: $primary_blue;
          }
        }
      }
      & a.btn {
        border-radius: 50px;
        &:hover {
          color: #333;
        }
      }
    }
  }
  & .img {
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

  }
  & .bottom-banner {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    & .event-description {
      & .event-title {
        font-size: 15px;
        font-weight: bold;
      }
      & .event-type {
        font-size: 13px;
      }
      & .event-place {
        font-size: 12px;
        margin-top: -5px;
      }
    }
    & .event-price {
      font-size: 20px;
    }
  }
  & .event-hidden-hover {

    & .event-user-img {
      height: 60px;
      border: 1px solid white;
    }
    & a.btn {
      border-radius: 50px;
    }
  }
}

.footer-middle {
  background-color: white !important;
  & hr {
    @include hr;
  }
  & .footer-column {
    color: #333;
    //border-right: 2px solid rgba(0, 0, 0, .18);
    & p {
      color: #333 !important;
      text-align: justify;
    }
    & a {
      color: #333;
      &:hover,
      &:active,
      &:focus {
        color: $primary_blue;
        text-decoration: none;
      }
    }
    & .read-more {
      font-size: 14px;
    }
    & .all-news {
      font-size: 18px;
      color: #333;
    }
  }
}

/* USER PAGE */
.user-cover {
  height: 330px;
  //background-color: grey;
  & .user-picture {
    height: 100px;
    width: auto;
  }
  & .blurred-cover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url('img/beach-party.jpg');
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url('img/beach-party.jpg');
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%), url('img/beach-party.jpg');
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    filter: blur(20px);
    -ms-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: scale(1.2);
    height: 350px;
  }

}

.fondo-carusel {
  position: relative;
  background: url("img/4.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }

}

.block {
  text-align: center;
  vertical-align: middle;
  padding-left: 100px;
}

#sec-contact {
  background: rgb(240, 240, 240);

}

.diamond {
  border: 3px solid $primary_blue;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  //margin: 60px 30px 8px 128px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  display: table;
  & p {
    vertical-align: middle;
    display: table-cell;
    font-size: 40px;
    color: #505050 !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  & strong {
    vertical-align: middle;
    display: table-cell;
    font-size: 40px;
    color: #505050 !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.bottom-word {
  color: $primary_blue;
}

#sidebarCollapse, #account-img {
  transition: all ease .25s;
}

#sidebar {
  background: rgba(0, 0, 0, 0.8);
  max-width: 236px;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;
  transition: 0.3s;
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.abierto {
  //width: 250px !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.account {
  height: 66px;
  background: rgba(0, 0, 0, .55);
  & img {
    height: 50px !important;
  }
  & a {
    color: #ACB7B6;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: #6f7a79;
    }
  }
  & h3 {
    color: white !important;
  }
}

.item {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  & a {
    text-decoration: none;
    color: #ACB7B6;
    &:hover,
    &:active,
    &:focus {
      color: $primary_blue;
    }
  }
}

.icono {
  width: 30px;
  text-align: center;
}

.notif {
  background: #1096FC;
  color: #BDDFFD;
}

input[type=checkbox]:checked ~ .selected-friend {
  & img.img-thumbnail {
    background-color: $primary_blue;
  }
}

#pills-friends {
  & .flex-row {
    overflow-y: hidden;
    overflow-x: auto;
    max-width: inherit;
  }
}

.selected-friend {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 250px;
  }
  &:active,
  &:focus {
    background-color: transparent;
  }
}
#sec-about {
  background: #F0F0F0;
  border-bottom: 4px double #1096FC;
}

.my-input {
  border: none !important;
}

.fig-search {
  color: #88979A !important;
  background: white;
  font-size: 1.6rem;
  cursor: pointer;
}

.fig-search-fin {
  color: #88979A;
  background: white;
  border-top-right-radius: 48%;
  border-bottom-right-radius: 48%;
  font-size: 1.6rem;
  cursor: pointer;
}

.c-pointer {
  cursor: pointer !important;
}

#sec-how-works {
  //height: 400px;
  background-color: $primary_blue;
  border-bottom: 10px double white;
  hr {
    @include hr(white, 100px);
  }
}

.nav-tabs {
  & .nav-item {
    & .nav-link {
      border: none;
      &.active {
        border-bottom: 2px solid #0974DA !important;
        background: rgba(0, 0, 0, .25);
      }
    }
  }
}

.aside-user {
  background: #999999;
}

.notif-event {
  & .notif-name {
    color: #0974DA;
    font-size: 1.1rem;
    margin-bottom: 0 !important;
  }
  & .notif-date {
    font-size: 0.75rem;
    margin-bottom: 0 !important;
  }
  & .notif-img {
    height: 68px;
    width: 68px;
  }
  & .event-name {
    color: #0974DA !important;
  }
}

.event-event {
  //border: 1px solid rgba(0,0,0,.2);
  & .event-name {
    color: #0974DA;
    font-size: 1.1rem;
    margin-bottom: 0 !important;
  }
  & .event-date {
    font-size: 1.1rem;
    color: #8b9999;
    margin-bottom: 0 !important;
  }
  & .event-img {
    min-height: 80px;
    min-width: 70px;
    //margin-right: 5px;
    // float: left;
    position: relative;
    background: url("img/4.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  & .event-name {
    color: #0974DA !important;
  }
}

.opinio-event {
  //border: 1px solid rgba(0,0,0,.2);
  & .event-name {
    color: #0974DA;
    font-size: 1.1rem;
    margin-bottom: 0 !important;
  }
  & .event-date {
    font-size: 1.1rem;
    color: #8b9999;
    margin-bottom: 0 !important;
  }
  & .event-img {
    height: 68px;
    width: 68px;
    border: 1px solid rgba(0, 0, 0, .03);
  }
  & .event-name {
    color: #0974DA !important;
  }
  & .opinion-text {
    color: #8B9999;
  }
}

.user-card {
  border: none;
  background: #f2f2f2;
  & .header-img {
    max-height: 90px;
    //min-width: 160px;
    margin-right: 5px;
    float: left;
    position: relative;
    background: url("img/4.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-bottom: 2px solid white;
  }
  & .event-img {
    border: 2px solid white;
    margin-top: 40px;
    height: 68px;
    width: 68px;
  }
}

.linea {
  //height: 0.3px;
  width: 100% !important;
  background-color: lightgray;
}

.vertical {
  height: 100px !important;
  background-color: lightgray;
  width: 1px;
}

//adasdasdasdd
@media only screen and (min-width: 991px) {
  #main-content {
    left: 25%;
  }
  #sidebar-left {
    right: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #sidebar-left {
    right: 67%;
  }
  #main-content {
    left: 33%;
  }
}

#sub-tabpane-event, #sub-tabpane-opinion, #sub-tabpane-follow {
  font-size: 1.08rem;
  & .active {
    background: rgba(0, 0, 0, .04);
  }
}

.scroll {
  max-height: 768px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-notif {
  max-height: 768px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (min-width: 578px) {
  .padding-chico {
    padding: 100px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 575px) {
  .resize-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 462px) and (max-width: 575px) {
  .resize-word {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1139px) {
  .resize-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .resize-event-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media only screen and (min-width: 445px) and (max-width: 575px) {
  .resize-event-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Scroll Animation */
@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

.label-map {
  font-size: 18px;
}

.map {
  max-height: 300px;
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .resize-p {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

.card-masonry {
  & .card {
    border: none;
  }
}