        <footer class="footer">
            <div class="container">
                <ul class="list-inline mb-0 text-center">
                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-twitter"></span></a>
                    </li>

                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-google-plus"></span></a>
                    </li>

                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-instagram"></span></a>
                    </li>

                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-envelope-o"></span></a>
                    </li>

                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-facebook"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><span class="fa fa-pinterest-p"></span></a>
                    </li>
                </ul>
            </div>
        </footer>
        <footer class="footer-middle footer">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-xs-12 col-md-4 col-lg-3 footer-column d-none d-md-block">
                        <h5>Aenean</h5>
                        <ul class="list-group" style="list-style: none">
                            <li class="lead">
                                <a href="&">In enim justo</a>
                            </li>
                            <li class="lead">
                                <a href="&">Rhoncus ut</a>

                            </li>
                            <li class="lead">
                                <a href="&">Imperdiet a</a>

                            </li>
                            <li class="lead">
                                <a href="&">Donec quam </a>

                            </li>
                            <li class="lead">
                                <a href="&">Ultricies nec</a>

                            </li>
                            <li class="lead">
                                <a href="&">Pellentesque eu</a>

                            </li>
                        </ul>
                    </div>
                    <hr class="d-none d-md-block">
                    <div class="col-xs-12 col-md-4 col-lg-3 footer-column d-none d-md-block">
                        <h5>Aenean</h5>
                        <ul class="list-group" style="list-style: none">
                            <li class="lead">
                                <a href="&">In enim justo</a>
                            </li>
                            <li class="lead">
                                <a href="&">Rhoncus ut</a>

                            </li>
                            <li class="lead">
                                <a href="&">Imperdiet a</a>

                            </li>
                            <li class="lead">
                                <a href="&">Donec quam </a>

                            </li>
                            <li class="lead">
                                <a href="&">Ultricies nec</a>

                            </li>
                            <li class="lead">
                                <a href="&">Pellentesque eu</a>

                            </li>
                        </ul>
                    </div>
                    <hr class="d-none d-md-block">
                    <div class="col-xs-12 col-md-4 col-lg-3 footer-column d-none d-md-block">
                        <h5>Aenean</h5>
                        <ul class="list-group" style="list-style: none">
                            <li class="lead">
                                <a href="&">In enim justo</a>
                            </li>
                            <li class="lead">
                                <a href="&">Rhoncus ut</a>

                            </li>
                            <li class="lead">
                                <a href="&">Imperdiet a</a>

                            </li>
                            <li class="lead">
                                <a href="&">Donec quam </a>

                            </li>
                            <li class="lead">
                                <a href="&">Ultricies nec</a>

                            </li>
                            <li class="lead">
                                <a href="&">Pellentesque eu</a>

                            </li>
                        </ul>
                    </div>
                    <hr class="d-none d-md-block">
                    <div class="col-xs-12 col-md-12 col-lg-3 footer-column mt-md-4 ">
                        <h5 class="text-center">Necesita Ayuda</h5>
                        <div class="container mb-2 text-center">
                            <a href="&">
                                <i class="fa fa-wechat fa-4x"></i>
                                <br>Web chat
                            </a>
                        </div>
                        <div class="text-center">
                            Pague seguro <br>
                            <i class="fa fa-lock "></i>
                            <i class="fa fa-cc-paypal "></i>
                            <i class="fa fa-cc-mastercard "></i>
                            <i class="fa fa-cc-visa "></i>
                            <i class="fa fa-cc-amex "></i>
                            <i class="fa fa-cc-discover "></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-white mb-0" style="text-align: center; color:#909090">
                            Copyright 2018. Todos los
                            derechos reservados
                        </p>
                    </div>
                </div>
            </div>
        </footer>